*{
    padding: 0;
    margin: 0;
    text-align: center;
}

#intro{
    background-color: #D9C08C;
    width: 390px;
    height: 844px;
}

hr{
    width: 390px;
    height: 12px;
}
/* 맨 위 라인*/
.line-top{
    background-color: #5B3408;
}
/* 맨 위 이미지*/
#intro-main-img{
    margin-top: 34px;
}
#intro-main-img img{
    width: 180px;
    height: 180px;
}
/*위에 있는 설명*/ 
#intro-explain-top{
    margin-top: 37px;
    color: #6A3D09;
}
/*인물 이미지 위 3개*/
#intro-img-top{
    margin-top: 16px;
    margin-left: 40px;
}
#intro-img-top img{
    width: 100.34px;
    height: 138px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
}
/*인물 이미지 아래 3개*/
#intro-img-bottom{
    margin-top: 37px;
    margin-right: 40px;
}
#intro-img-bottom img{
    width: 100.34px;
    height: 138px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
}
/*아래에 있는 설명*/ 
#intro-explain-bottom{
    margin-top: 21px;
    color: #6A3D09;
}
/*버튼*/
#intro-next-btn{
    margin-top: 15px;
}
#intro-next-btn img{
    width: 41px;
    height: 41px;
}
/* 맨 아래 라인*/
.line-bottom{
    background-color: #795610;
    margin-top: 22px;
}

.f1{
    width: 20px;
    height: 16px;
}
