*{
    padding: 0;
    margin: 0;
}

#school-select{
    background-color: #D9C08C;
    width: 390px;
    height: 844px;
}

hr{
    width: 390px;
    height: 12px;
    margin-bottom: 45px;
}
/* 맨 위 라인*/
.line-top{
    background-color: #5B3408;
}

.school-univ,#school-page-btn{
    display: flex;
    justify-content: center;
}

.school-logo-img{
    width: 80px;
    height: 80px;
    margin-top: 30px;
    margin-right: 25px;
}

.school-univ-name-box{
    background-color: #FCEED2;
    width: 189px;
    height: 47px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    margin-top: 60px;
}

.school-univ-name{
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 18px;
    width: 124px;
    height: 16px;
    color: #6D4D0B;
}

#school-page-btn{
    margin-top: 50px;
}
#school-page-btn div{
    text-align: center;
    line-height: 1;
    width: 41px;
    height: 30px;
    font-size: 25px;
    color: #795610;
    margin-left: 21px;
    margin-right: 21px;
}
#school-page-btn img{
    width: 30px;
    height: 30px;
}

.line-bottom{
    background-color: #795610;
    margin-top: 32px;
}